body {
    background-color:hsl(212, 45%, 89%);
    width: 100%;
    min-height: 100vh;
}
.white-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:white;
    width: 310px;
    height: 500px;
    margin-top: 15px;
    margin-left: 38%;
}
.img{
    width:250px;
    height: 280px;
    border-radius: 20px;
    margin-top: -25px;
    margin-left: 32px;
}
.text1{
    margin-left:5%;
    color:black;
    
}
.text2{
    margin-left:5%;
    color:black;
    margin-top: -5px;
}

